{% extends 'blog/index.html' %}

{% block content %}
    <h1 class="my-4">Detail -
        <small>{{ object.title }}</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item"><strong>Title:</strong> {{ object.title }}</li>
              <li class="list-group-item"><strong>Body:</strong> {{ object.body }}</li>
            </ul>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-12">
                <a href="{% url 'post_edit' object.id %}"><button type="button" class="btn btn-success">Edit</button></a>
                <a href="{% url 'vue_blog' %}"><button type="button" class="btn btn-secondary">Back</button></a>
        </div>
    </div>
{% endblock %}