{% extends 'blog/index.html' %}

{% block content %}
    <h1 class="my-4">Delete -
        <small>{{ object }}</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <div class="alert alert-warning" role="alert">
                  Are you sure to delete {{ object }} ?
                </div>
                <input type="submit" class="btn btn-info" value="Yes, delete it" />
                <a class="btn btn-success" href="{% url 'vue_blog' %}">No, just I've tried the delete button</a>
            </form>
        </div>
    </div>
{% endblock %}