{% extends 'base.html' %}

{% block content %}
<!-- <h1>Vue Code In File Below</h1>
<div id="{{ vue_element }}">
	<h2>[[ vueTestData ]]</h2>
</div>jawaid 7/12/2022 -->
<script>
	{% include 'blog/blog.vue' %}
</script>
<div id="starting">
	<div class="container">
	  <div>
		<h1 style="text-align: center;">List of Posts

			<a class="btn btn-outline-info btn-md" href="{% url 'post_new' %}">+ New Post</a>
		</h1>
		&emsp;
		<table class="table">
		  <thead>
			<tr>
			  <th scope="col">#</th>
			  <th scope="col">Title</th>
			  <th scope="col">Body</th>
			  <th scope="col">Update</th>
			  <th scope="col">Delete</th>
			</tr>
		  </thead>
		  <tbody>
			{% for post in posts %}
			<tr>
			  <th scope="row">{{ post.id }}</th>
			  <td>{{ post.title }}</td>
			  <td>{{ post.body }}</td>
			  <td><a href="{% url 'post_edit' post.id %}"><button type="button" class="btn btn-outline-primary btn-sm">Update</button></a></td>
			  <td><a href="{% url 'post_delete' post.id %}"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a></td>
			</tr>
			{% endfor r%}
		  </tbody>
		</table>
	</div>
</div>
</div>
{% endblock content %}